<footer class="bg-body d-flex align-items-center justify-content-around m-0 p-2">
  <div>
    <ul class="m-0">
      <li class="my-2"><a href="#">About Us</a></li>
      <li class="my-2"><a href="#">Contact Us</a></li>
      <li class="my-2"><a href="#">Help</a></li>
    </ul>
  </div>
  <div>
    <ul class="m-0">
      <li class="my-2"><a href="#">About Us</a></li>
      <li class="my-2"><a href="#">Contact Us</a></li>
      <li class="my-2"><a href="#">Help</a></li>
    </ul>
  </div>
  <div>
    <ul class="m-0">
      <li class="my-2"><a href="#">About Us</a></li>
      <li class="my-2"><a href="#">Contact Us</a></li>
      <li class="my-2"><a href="#">Help</a></li>
    </ul>
  </div>
</footer>
