<nav class="navbar fixed-top navbar-expand-lg nd-navbar bg-primary p-2">
  <div class="container-fluid gap-5 pe-0">
    <a class="navbar-brand text-white m-0" href="#">Ecommerce</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul id="navbar-list" class="navbar-nav gap-3 mb-2 mb-lg-0">
        <li class="nav-item elastic">
          <a
            class="nav-link active text-white text-nowrap"
            aria-current="page"
            href="#"
          >
            Home
          </a>
        </li>
        <li class="nav-item elastic">
          <a
            class="nav-link active text-white text-nowrap"
            aria-current="page"
            href="#"
          >
            Admin
          </a>
        </li>
        <li class="nav-item elastic">
          <a
            class="nav-link active text-white text-nowrap"
            aria-current="page"
            href="#"
          >
            Contact Us
          </a>
        </li>
      </ul>
      <app-search class="mx-auto"></app-search>
      <app-login-status></app-login-status>
      <app-cart-status></app-cart-status>
    </div>
  </div>
</nav>
